* {
  font-family: Roboto, sans-serif;
  font-style: normal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

body {
  background-color: #e5e5e5;
  width: 100%;
}

header {
  width: 100%;
  height: 50px;
  margin: 0 auto;
  background-color: rgba(78, 78, 78, 1);
  color: rgba(241, 241, 241, 1);
}

.logo {
  padding-left: 5%;
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  line-height: 50px;
}

.banner {
  position: relative;
  width: 100%;
  margin: 0 auto;
  height: 80vh;
  background-image: url(./images/background.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.shh {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.shadow {
  position: absolute;
  top: 20%;
  left: 5%;
}

.shadow > h1 {
  color: rgba(255, 255, 255, 1);
  font-weight: bold;
  font-size: 32px;
  line-height: 42px;
  padding: 20px 0;
}

.shadow > h2 {
  color: rgba(255, 255, 255, 1);
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  padding: 20px 0;
}

button {
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  color: rgba(255, 255, 255, 1);
  border: 3px solid #ffffff;
  box-sizing: border-box;
  background-color: transparent;
  width: 164px;
  height: 41px;
  margin-top: 20px;
}

#about {
  width: 100%;
  margin: 0 auto;
  background-color: #f1f1f1;
  padding: 5%;
}

about-wrapper {
  height: 100%;
  margin: 0 auto;
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-wrapper > h1 {
  height: 35px;
  color: rgba(21, 45, 65, 1);
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  margin-top: 10%;
}

.people > li {
  max-width: 100%;
  margin-top: 10%;
}

.person {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.person-img {
  width: 70%;
  height: 70%;
  padding: 10%;
}

.person-data > h3 {
  font-weight: bold;
  text-align: left;
}

.person-data > h3,
p {
  font-size: 18px;
  line-height: 21px;
}

.person-data > p {
  text-align: justify;
  margin-top: 10%;
}

#offer {
  width: 100%;
  margin: 0 auto;
  background-color: rgba(64, 93, 120, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#offer > h1 {
  margin-top: 10%;
  font-weight: bold;
  font-size: 26px;
  line-height: 30px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}

.offer-services {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: 50px 100px;
}

.service {
  width: 198px;
  height: 193.78px;
  background-color: rgba(241, 241, 241, 1);
  padding: 10px;
  margin: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.service > p {
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: rgba(0, 0, 0, 1);
}

.ellipse {
  position: absolute;
  top: -11px;
  left: -11px;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: rgba(224, 122, 100, 1);
}

footer {
  width: 100%;
  margin: 0 auto;
  background-color: rgba(78, 78, 78, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rights {
  color: rgba(255, 255, 255, 1);
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
}

.social {
  color: rgba(255, 255, 255, 1);
  font-size: 30px;
  margin-bottom: 5%;
}

.rights > p {
  width: 100%;
  text-align: center;
  margin: 5%;
}

@media screen and (min-width: 768px) {
  .shadow > h1 {
    font-size: 36px;
  }

  .shadow > h2 {
    font-size: 18px;
  }

  .about-wrapper > h1 {
    font-size: 40px;
  }

  .person-data > h3,
  p {
    font-size: 22px;
  }

  #offer > h1 {
    font-size: 36px;
  }

  .rights {
    font-size: 22px;
  }

  .social {
    font-size: 40px;
  }
}
